body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-sm {
    font-size: 11px !important;
    font-weight: normal !important;
    color: #AF8C45 !important;
}

.first-row {
    padding-top: 50px;
}

.other-row {
    padding-top: 25px;
}

.last-row {
    margin-bottom: 20px !important;
}

.CreateSME .last-row {
    padding-right: 75px;
    padding-left: 75px;
}

.CreateSME form {
    max-width: 280px !important;
}

.CreateSME label {
    font-weight: normal;
    font-size: 11px;
}
@media screen and (max-width: 767px) {
    .first-row {
        padding-top: 20px;
    }
    .other-row {
        padding-top: 5px;
        padding-bottom: 0px;
    }

}


.bs-wizard {
    margin-top: 20px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
        display: inline-block !important;
        /*float: none !important;*/
        margin-left: 0px !important;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 12px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 11px;
            /*padding: 0 14px;*/
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #fbe8aa;
            top: 45px;
            left: 45%;
            margin-top: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #fff;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 23px 0;
            width: 104%;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #fbe8aa;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 55%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 59%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }

/*END Form Wizard*/

.submit, .previous-step {
    float: right;
    margin-right: 10px;
}

/*step 1*/

#step1 {
    padding-left: 0;
}

    #step1 .progress {
        left: 5px;
        width: 67%;
    }

    #step1 .bs-wizard-stepnum {
        text-align: left;
    }

    #step1 .bs-wizard-info {
        text-align: left;
    }

    #step1 a {
        left: 0;
    }

/*step 2*/
#step2 .progress {
    left: -98px;
    width: 140%;
}

#step2 .bs-wizard-stepnum {
    margin-left: -110px;
}

#step2 .bs-wizard-info {
    margin-left: -110px;
}

#step2 a {
    left: 20%;
}


/*step 3*/
#step3 .progress {
    left: 0px;
    width: 140%;
}

#step3 .bs-wizard-stepnum {
    margin-right: -24px;
}

#step3 .bs-wizard-info {
    margin-right: -24px;
}

#step3 a {
    right: 40%;
    left: auto;
}


/*step 4*/

#step4 .bs-wizard-dot {
    right: 0;
    left: auto;
}

    #step4 .progress {
        margin-left: 33%;
    }

    #step4 .bs-wizard-stepnum {
        text-align: right;
    }

    #step4 .bs-wizard-info {
        text-align: right;
    }

    #step4 a {
        left: auto;
        right: 0;
    }


#step2 .progress {
    width: 135% !important;
    left: -35% !important;
}

#step3 .progress {
    width: 130% !important;
    left: -24px !important;
}

#step4 .progress {
    width: 130% !important;
    /*left: auto;*/
}


.active-step {
    background: #ffce00 !important;
    font-size: 12px !important;
}

.stepInfo-style {
    color: #000 !important;
    font-size: 12px !important;
}


@media screen and (max-width: 2000px) {

    /*#step4 .progress {
        width: 77%;
    }*/

    #step3 .progress {
        width: 145%;
    }

    #step2 .progress {
        width: 145%;
    }

    #step1 .progress {
        width: 80%;
    }
}
@media screen and (max-width: 1400px) {
    /*#step4 .progress {
        width: 67%;
    }*/
}

@media screen and (max-width: 1300px) {
    /*#step4 .progress {
        width: 58%;
    }*/
}

@media screen and (max-width: 1200px) {


    /*#step4 .progress {
        width: 54%;
    }*/

    #step3 .progress {
        width: 150%;
    }

    #step2 .progress {
        width: 150%;
    }

    #step1 .progress {
        width: 67%;
    }

    #step3 .bs-wizard-info {
        margin-right: -20px;
    }

    #step2 .bs-wizard-info {
        margin-left: -88px;
    }

    #step3 .bs-wizard-stepnum {
        margin-right: -20px;
    }

    #step2 .bs-wizard-stepnum {
        margin-left: -88px;
    }

    /*#step4 .bs-wizard-stepnum {
        margin-left: -20px;
    }*/

    .bs-wizard > :last-child.bs-wizard-step > .progress {
        width: 71%;
    }

    #step4 .progress {
        margin-left: 27%;
    }
}

@media screen and (max-width: 1100px) {
    /*#step4 .progress {
        width: 45%;
    }*/

    .bodyWizard {
        background-size: cover;
    }
}

@media screen and (max-width: 1000px) {
    #step2 .progress {
        width: 170%;
    }

    #step3 .bs-wizard-info {
        margin-right: -53px;
    }

    #step2 .bs-wizard-info {
        margin-left: -25px;
    }

    #step2 .bs-wizard-stepnum {
        margin-left: -36px;
    }

    #step3 .bs-wizard-stepnum {
        margin-right: -47px;
    }
}

@media screen and (max-width: 900px) {
    /*#step4 .progress {
        width: 35%;
    }*/

    #step3 .progress {
        width: 160%;
    }
}

@media screen and (max-width: 800px) {
    #step3 .bs-wizard-info {
        margin-right: -35px;
    }

    #step2 .bs-wizard-info {
        margin-left: -26px;
    }
}

@media screen and (max-width: 560px) {

    .submit, .continue, .previous-step {
        float: none;
        display: block;
        text-align: center;
        margin: auto;
    }

    button.cancel {
        float: none;
    }

    .close-button {
        float: none;
    }

    #header {
        height: 15%;
    }

    .body-content {
        min-height: 80%;
    }

    .get-started-img #header {
        height: auto;
        min-height: 17%;
    }

    .get-started-img .body-content {
        min-height: 78%;
    }

    .logo {
        float: none !important;
        text-align: center;
        width: 180px;
        height: auto;
    }

    #logo {
        width: 100% !important;
        text-align: center;
        height: auto;
        float: none;
        display: block;
    }

    #navmenu {
        width: 100% !important;
        text-align: center;
        height: auto;
        float: none;
        display: block;
        padding-bottom: 10px;
    }

        #navmenu ul {
            padding-left: 0 !important;
        }

        #navmenu li {
            margin-right: 10px;
            font-size: 14px;
            text-align: center;
        }

    #wizard .col-4, #wizard .col-8, #wizard .col-10, #wizard .col-12, #wizard .col-3,
    .additional .col-4, .additional .col-5, .additional .col-6, .additional .col-12, .additional .col-3 {
        width: 100%;
        padding: 5px 20px 0 20px;
    }



    .Main-title .h4-cont, .Main-title .ref-cont {
        float: none;
        display: block;
        text-align: left;
    }

    .Main-title {
        margin-bottom: 10px;
    }

    legend {
        margin-bottom: 0 !important;
    }


}
