<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DDAEntities" connectionString="metadata=res://*/DDAEntity.csdl|res://*/DDAEntity.ssdl|res://*/DDAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHALIDSALAMEH;initial catalog=DDA_SIT;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>